# Ignore sensitive files
ansible/roles/deploy_vms/vars/main.yml
ansible/inventory/hosts.yml
ansible/ansible.cfg
secrets/
*.env
*.key
*.crt
*.pem

# Compiled files and build artifacts
build/
dist/
bin/
*.log

# Helm charts
charts/

# Config files
metallb-config.yml
.vscode